@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1200px) {
    max-width: 970px;
  }

  @media (max-width: 992px) {
    max-width: none;
    padding: 0 30px;
  }

  @media (max-width: 767px) {
    padding: 0 30px;
  }

  @media (max-width: 400px) {
    padding: 0 10px;
  }
}

.button {
  padding: 15px 35px 15px 35px;
  background-color: #2c67b1;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.8;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 0px 15px #bfd9f9;
  transition: box-shadow 0.1s linear;

  &:hover {
    background-color: #f4213a;
    box-shadow: 0px 0px 15px #d4a3c0;
  }
}
