.download {
  background: url('img/download/1.png') center no-repeat;
  padding: 210px 0;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    width: 430px;
    text-align: end;

    &__title {
      .title {
        letter-spacing: 1px;
        font-size: 35px;
        font-weight: 300;

        span {
          font-weight: 700;
        }
      }
    }

    &__text {
      margin: 20px 0 45px 0;
      padding-left: 40px;
      line-height: 2;
    }

    &__buttons {
      text-decoration: none;
      display: flex;
      justify-content: space-between;

      .content__button {
      }
    }
  }

  @media (max-width: 550px) {
    padding: 150px 0;

    &__wrapper {
      justify-content: center;
    }

    &__content {
      width: 410px;
      text-align: center;

      &__text {
        padding-left: 0;
        line-height: 2;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 120px 0;

    &__content {
      width: 380px;

      .content__button {
        img {
          width: 170px;
          height: 55px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    &__content {
      .content__button {
        img {
          width: 170px;
          height: 55px;
        }
      }
    }
  }

  @media (max-width: 410px) {
    padding: 100px 0;

    &__content {
      width: auto;

      &__buttons {
        flex-direction: column;
      }
    }
  }
}
