.header__nav__wrapper {
  position: relative;

  @media (max-width: 820px) {
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      z-index: 5;
    }
  }
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .header__logo {
    flex-grow: 0.4;
    padding: 20px 0;

    @media (max-width: 992px) {
      flex-grow: 0.1;
    }

    @media (max-width: 820px) {
      position: relative;
      z-index: 5;
    }
  }

  .header-list-wrapp {
    flex-grow: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
      flex-grow: 0.7;
    }

    .header__nav {
      flex-grow: 0.7;
      display: flex;
      justify-content: space-between;
      list-style: none;

      &__item {
        text-decoration: none;
        padding: 35px 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #545454;
        cursor: pointer;

        &:hover {
          color: #71c877;
          border-bottom: 2px solid #42b549;
        }
      }

      .nav-with-drop-list {
        position: relative;

        & .dropdown-list {
          position: relative;
          text-decoration: none;
          height: 100%;
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          color: #545454;
          margin-right: 10px;
          cursor: pointer;

          &:after {
            content: '';
            position: absolute;
            border: 5px solid transparent;
            border-bottom: 0;
            border-top-color: #3c3c3c;
            top: 48%;
            left: 115%;
          }

          &:hover {
            border: none;
          }
        }

        & .popup-list {
          display: none;
          position: absolute;
          top: 3.5em;
          left: 0;
          list-style: none;
          background-color: #fff;
          z-index: 1000;

          &.active {
            display: block;
          }

          &__item {
            width: 205px;
            height: 20px;
            padding: 5px 0 5px 20px;
            text-transform: uppercase;
            font-family: 'Cabin', sans-serif;
            font-size: 14px;
            color: #8c8c8c;
            cursor: pointer;

            &:hover {
              padding-left: 10px;
              width: 215px;
              background-color: #f2f2f2;
            }
          }
        }
      }
    }
  }

  .header__button {
    padding: 15px 35px 15px 35px;
    background-color: #2c67b1;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.8;
    cursor: pointer;
    box-shadow: 0px 0px 15px #bfd9f9;
    transition: box-shadow 0.1s linear;

    &:hover {
      background-color: #f4213a;
      box-shadow: 0px 0px 15px #d4a3c0;
    }
  }

  .burger {
    display: none;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 20px;

    &.active {
      span {
        display: none;
      }

      &:before {
        top: 0.7em;
        transform: rotate(45deg);
      }

      &:after {
        top: 0.7em;
        transform: rotate(-45deg);
      }
    }

    span {
      position: absolute;
      top: 50%;
      width: 30px;
      height: 2px;
      background-color: #545454;
      display: block;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      background-color: #545454;
      position: absolute;
      width: 100%;
      height: 2px;
      transition: all 0.3s linear;
    }

    &:before {
      top: 0;
    }

    &:after {
      top: 100%;
    }
  }

  @media (max-width: 820px) {
    .burger {
      display: block;
      position: relative;
      z-index: 5;
    }

    .header-list-wrapp,
    .header__button {
      display: none;
    }

    .header-list-wrapp.active {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 80%;
      background-color: #f2f2f2;
      z-index: 3;
      padding: 100px 0 0 0;
      overflow: auto;

      .header__button {
        width: 50px;
        height: 13px;
        display: block;
        margin: 0 auto 20px auto;
        text-align: center;
      }

      .header__nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;

        & .item-wrapp:last-child {
          margin-bottom: 30px;
        }

        .item-wrapp {
          margin-top: 30px;
        }

        .header__nav__item {
          text-decoration: none;
          font-size: 25px;
          cursor: pointer;
          padding: 0;
          color: #3c3c3c;

          &:hover {
            color: #71c877;
            border-bottom: 2px solid #42b549;
          }
        }
      }

      .nav-with-drop-list {
        .popup-list {
          position: sticky;
          top: 0;
          left: 0;
          text-align: center;
          margin-top: 10px;

          &__item {
            width: 100%;
            padding: 15px 0 15px 0;

            &:hover {
              width: 100%;
              padding-left: 0;
              background-color: #e0e0e0;
            }
          }
        }
      }
    }
  }
}
