.main-content__wrapper {
  background-color: #0481ed;
  background-image: url('img/header/background_2.png'), url('img/header/background_3.png'),
    url('img/header/background_4.png'), url('img/header/background_1.png');
  background-position: 0 118%, 0px 118%, 0px 101%, 0 -100px;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  margin-top: 3px;

  .header__title {
    width: 230px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 30%;
    left: 17%;

    .abbreviation {
      font-size: 80px;
      font-weight: 900;
      line-height: 1;
    }

    .company-name {
      font-size: 16px;
      font-weight: 700;
      background-color: #fff;
      color: #263499;
      padding: 13px 9px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    .tech {
      font-size: 22px;
      font-weight: 900;
    }
  }

  .header__info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 43%;
    width: 380px;

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 90px;

      .item__text {
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        margin-left: 15px;
      }
    }
  }
}
